@page
@model RazorPizzeria.Pages.CustomersModel
@{
}


<h3>Customers</h3>
<hr />
<table class="table">
    <thead>
        <tr>
            <th>
                Id
            </th>
            <th>
                Name
            </th>
            <th>
                Address
            </th>
            <th>
                City
            </th>
            <th>
                Phone
            </th>
            <th>
                Email
            </th>
            <th>
                Edit | Delete
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var customer in Model.Customers)
        {
                <tr>
                    <td>
                    @customer.Id
                    </td>
                    <td>
                    @customer.Name
                    </td>
                    <td>
                    @customer.Address
                    </td>
                    <td>
                    @customer.City
                    </td>
                    <td>
                    @customer.Phone
                    </td>
                    <td>
                    @customer.Email
                    </td>
                    <td>
                    <a asp-page="./Forms/EditCustomer" asp-route-id="@customer.Id">Edit</a> |
                    <a asp-page="./Customers" onclick="return confirm('Are you sure you want to delete this customer?');" asp-page-handler="Delete" asp-route-id="@customer.Id">Delete</a>
                </td>
                </tr>
        }
    </tbody>
</table>